In [ ]:
import pandas as pd

In [ ]:
idf = pd.read_json(r"/content/idf.json", typ="series")
word2vec = pd.read_json(r"/content/word2vec.json", typ="series")

In [ ]:
word2vec

</s>                                                    []
,                                                 [and, .]
the                                       [of, and, which]
.                                                 [and, ,]
of                                              [the, and]
                                 ...
02:34                  [01:41, 02:25, 01:11, 01:36, 01:19]
jozef            [karel, piotr, jerzy, miroslav, jaroslav]
balliol                                   [eton, magdalen]
caterina    [giacomo, francesco, pietro, chiara, vincenzo]
02:02                  [01:22, 02:12, 02:11, 01:41, 02:05]
Length: 50000, dtype: object

In [ ]:
idf

our                   2.086178
is                    0.612379
forecast              5.778933
here                  2.773351
formal                5.781977
                       ...
3.2978               13.751107
3.7369               13.751107
oil-spec-hedge-ng    13.751107
mini-prc             13.751107
heart-attacks        13.751107
Length: 986585, dtype: float64

In [ ]:
words = pd.concat([word2vec, idf], axis=1, keys=["w2v", "idf"])

In [ ]:
words

                                w2v        idf
</s>                             []        NaN
,                          [and, .]  -0.586433
the                [of, and, which]  -0.442904
.                          [and, ,]  -1.299643
of                       [the, and]   0.464621
...                             ...        ...
3.2978                          NaN  13.751107
3.7369                          NaN  13.751107
oil-spec-hedge-ng               NaN  13.751107
mini-prc                        NaN  13.751107
heart-attacks                   NaN  13.751107

[991705 rows x 2 columns]

In [ ]:
words.loc["visit"]

w2v          []
idf    4.091239
Name: visit, dtype: object

In [ ]:
idf["visit"]

4.091239478083535

In [ ]:
word2vec["visit"]

[]

In [ ]:
import math
na_value = math.log((517401 - 0 + 0.5) / (0 + 0.5)) + 1

In [ ]:
words["idf"] = words["idf"].fillna(value=na_value)

In [ ]:
words.dropna(inplace=True)

In [ ]:
words.to_json("words.json", orient="index")